@import url(../_style/main.css);
@import url(../_style/normalize.css);
@media (min-width: 100px) and (max-width: 1249px) {
  /* line 9, C:/Users/arthumar/Documents/PERSO/FEWD/DI/_sass/mobile-nav2.scss */
  .main-nav {
    display: block;
  }
  /* line 12, C:/Users/arthumar/Documents/PERSO/FEWD/DI/_sass/mobile-nav2.scss */
  .logo,
  .header,
  .banner {
    display: none;
  }
}

@media (min-width: 1250px) {
  /* line 20, C:/Users/arthumar/Documents/PERSO/FEWD/DI/_sass/mobile-nav2.scss */
  nav {
    display: none;
  }
  /* line 25, C:/Users/arthumar/Documents/PERSO/FEWD/DI/_sass/mobile-nav2.scss */
  .main-header {
    background: linear-gradient(#3F94BF, #246485);
    padding: 5px;
    text-align: center;
    color: white;
    text-shadow: #222 0px -1px 1px;
    position: fixed;
    width: 100%;
    left: 0;
    transition: all 0.3s ease;
  }
  /* line 35, C:/Users/arthumar/Documents/PERSO/FEWD/DI/_sass/mobile-nav2.scss */
  .main-header a {
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
    font-size: 32px;
  }
  /* line 44, C:/Users/arthumar/Documents/PERSO/FEWD/DI/_sass/mobile-nav2.scss */
  .page-wrap {
    float: right;
    width: 100%;
    transition: width 0.3s ease;
  }
  /* line 50, C:/Users/arthumar/Documents/PERSO/FEWD/DI/_sass/mobile-nav2.scss */
  .main-nav {
    position: fixed;
    top: 0;
    width: 0;
    height: 100%;
    background: #3B3B3B;
    overflow-y: auto;
    transition: width 0.3s ease;
  }
  /* line 58, C:/Users/arthumar/Documents/PERSO/FEWD/DI/_sass/mobile-nav2.scss */
  .main-nav a {
    display: block;
    background: linear-gradient(#3E3E3E, #383838);
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
    color: white;
    padding: 15px;
  }
  /* line 65, C:/Users/arthumar/Documents/PERSO/FEWD/DI/_sass/mobile-nav2.scss */
  .main-nav a:hover, .main-nav a:focus {
    background: linear-gradient(#484848, #383838);
  }
  /* line 69, C:/Users/arthumar/Documents/PERSO/FEWD/DI/_sass/mobile-nav2.scss */
  .main-nav:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 34px;
    background: linear-gradient(left, transparent, rgba(0, 0, 0, 0.4));
  }
  /* line 80, C:/Users/arthumar/Documents/PERSO/FEWD/DI/_sass/mobile-nav2.scss */
  .close-menu {
    display: none;
  }
  /* line 84, C:/Users/arthumar/Documents/PERSO/FEWD/DI/_sass/mobile-nav2.scss */
  #main-nav:target {
    width: 20%;
  }
  /* line 87, C:/Users/arthumar/Documents/PERSO/FEWD/DI/_sass/mobile-nav2.scss */
  #main-nav:target + .page-wrap {
    width: 80%;
  }
  /* line 89, C:/Users/arthumar/Documents/PERSO/FEWD/DI/_sass/mobile-nav2.scss */
  #main-nav:target + .page-wrap .open-menu {
    display: none;
  }
  /* line 92, C:/Users/arthumar/Documents/PERSO/FEWD/DI/_sass/mobile-nav2.scss */
  #main-nav:target + .page-wrap .close-menu {
    display: block;
  }
  /* line 95, C:/Users/arthumar/Documents/PERSO/FEWD/DI/_sass/mobile-nav2.scss */
  #main-nav:target + .page-wrap .main-header {
    width: 80%;
    left: 20%;
  }
}

/*# sourceMappingURL=../_style/mobile-nav2.map */